@import url("//fonts.googleapis.com/css?family=Lato");

$tabs-base-color: #6CC0F1;
* {
  margin: 0;
  padding: 0;
  @include box-sizing(border-box);
}

.tabs {
  width: 900px;
  list-style: none;
  position: relative;
  //margin: 0 auto;
  text-align: left;
  display: flex;
  justify-content: flex-start;
  .tab {
    display: flex;
    flex-direction: column;

    //&+&{
      // should fucking work
      //margin-left: 21px;
    //}

  }

  .tab + .tab {
    margin-left: 21px;
  }

  input[type="radio"] {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  label {
    display: block;
    padding: 14px 0;
    border-radius: 2px 2px 0 0;
    font-size: 20px;
    font-weight: normal;
    text-transform: uppercase;
    //background: $tabs-base-color;
    //border-bottom: 1px solid $tabs-base-color;
    border-bottom: none;
    cursor: pointer;
    position: relative;
    top: 4px;
    //&:hover {
    //  border-bottom: 1px solid darken($tabs-base-color, 10);
    //}
  }

  .tab-border {
    width: 0;
    display: flex;
    border-bottom: 1px solid darken($tabs-base-color, 10);
    @include transition(all 0.2s ease-out);
    &:hover {
      width: 100%;
      display: flex;
      border-bottom: 1px solid darken($tabs-base-color, 15);
      @include transition(all 0.2s ease-in);
    }
  }

  .tab-content{
    z-index: 2;
    display: none;
    overflow: hidden;
    width: 100%;
    font-size: 17px;
    line-height: 25px;
    //padding: 25px;
    padding: 25px 25px 25px 0;
    position: absolute;
    top: 53px;
    left: 0;
    //background: darken($tabs-base-color, 15);
  }
  //The Magic
  [id^="tab"]:checked + label {
    //border-bottom: 1px solid darken($tabs-base-color, 15);
  }
  [id^="tab"]:checked ~ [id^="tab-content"] {
    display: flex;
  }

  [id^="tab"]:checked ~ .tab-border {
    width: 100%;
    display: flex;
    border-bottom: 1px solid darken($tabs-base-color, 15);
    @include transition(all 0.2s ease-in);
  }

}
p.link {
  clear: both;
  margin: 380px 0 0 15px;
  a {
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    color: #fff;
    padding: 5px 10px;
    margin: 0 5px;
    //border-bottom: 1px solid darken($tabs-base-color, 15);
    //@include transition(border-bottom 0.2s ease-in-out);
    //&:hover {
    //  border-bottom: 1px solid darken($tabs-base-color, 20);
    //  @include transition(border-bottom 0.2s ease-in-out);
    //}
  }
} 