.input-lg {
  height: 46px;
  line-height: 46px;
  padding: 10px 16px;
  font-size: 18px;
}

form {
  width: 640px;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}

.btn {
  display: inline-block;
  padding: 8px 1pc;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;

  &:hover {
    color: #333;
    text-decoration: none;
  }
}

.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  &:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
  }
}

.form-inner-labels {
  line-height: 1;
}

.form-inner-labels>* {
  position: relative;
}

.form-group {
  margin-bottom: 2pc;
}

//.form-group {
//  padding: 15px 40px;
//}

.form-inner-labels .form-group input, .form-inner-labels .form-group select {
  height: 54px;
  padding-top: 24px;
  padding-left: 12px;
}

/*.form-inner-labels .form-group>label*/

.form-inner-labels .form-group>label {
  color: #999;
  font-size: .8rem;
  left: 17px;
  margin-bottom: 0;
  position: absolute;
  top: 10px;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}

.form-control {
  display: block;
  width: 100%;
  height: 40px;
  padding: 8px 1pc;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #dedede;
  //-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  //box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

textarea {
  height: 100px !important;
  padding-top: 30px !important;
}