@charset "UTF-8";

@import "reset.app";
@import url(//fonts.googleapis.com/css?family=Open+Sans);
// http://ionicons.com/
@import url(//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);

body, html{
  width: 100%;
  height: 100%;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px/1.5;
  //color: #333;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility; /*https://developer.mozilla.org/en-US/docs/Web/CSS/text-rendering*/
  -webkit-font-feature-settings: 'liga', 'kern';
}

.page-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  /*background-color: #0366A0;*/
}

.content-container {
  margin-left: 335px;
  max-width: 100%;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
  padding-left: 40px;
}

@import "ionic/mixins",
"ionic/variables",
"ionic/grid",
"ionic/buttons",
  "menu.app",
  "sell/sell.app",
  "buy/buy.app";

