
- var entries = [{name:"Verkauf", link:"/sell/search"},{name:"Ankauf", link:"/buy"},{name:"Kontakt", link:"/contacts"}];

mixin menu(selectedEntry)
  nav(class='menu')
    div(class="menu-header")
      img(src="/images/Topmoto_Logo_v2.svg" alt="The top moto logo" class="logo")
    each entry, index in entries
      - var menuEntryClass = 'menu-entry'
      if entry.name === selectedEntry
        - menuEntryClass = 'menu-entry menu-selected'

      div(class=menuEntryClass, data-menu-entry=entry.name)
        a(href=entry.link class='menu-link')
          span(class='menu-text')=entry.name

    div(class="menu-footer")