extends ../index.pug

block title
  title="Verkauf Title"

block navigation
  +menu("Verkauf")

block content
  header(class="title")
    button(class="button icon ion-search")
  section
    div(class="results-buy-list")
      div(class="row moto-row")
        a(href="#/app/motorcycles/1" class="moto-link")
        div(class="col col-25" style="height:80px; background: url(http://www.yamaha-motor.eu/eu/binary/2015_YAM_LibertyYam_FR_CUSTOM_STA__001_gal_worlds_full_tcm114-626363.jpg) no-repeat; background-size:cover;")
        div(class="col col-75 col-white")
          h3(class="moto-name ng-binding")="Yamaha Vmax"

      div(class="row moto-row")
        a(href="#/app/motorcycles/2" class="moto-link")
        div(class="col col-25" style="height:80px; background: url(http://blog.motorcycle.com.vsassets.com/wp-content/uploads/2011/11/2012-Honda-NC700X-04-500x345.jpg) no-repeat; background-size:cover;")
        div(class="col col-75 col-white")
          h3(class="moto-name ng-binding")="Honda NC700X"

      div(class="row moto-row")
        a(href="#/app/motorcycles/2" class="moto-link")
        div(class="col col-25" style="height:80px; background: url(http://kickstart.bikeexif.com/wp-content/uploads/2015/01/bmw-r-ninet-cherry-1-625x416.jpg) no-repeat; background-size:cover;")
        div(class="col col-75 col-white")
          h3(class="moto-name ng-binding")="BMW R nine T"
