.results-buy-list {

  .moto-row {
    position: relative;
    margin: 5px;
    margin-bottom: 11px;
    background-color: #fff;
    padding: 0;
  }

  .moto-link {
    height: 100%;
    width: 100%;
    position: absolute;
  }

  .moto-name {
    color: #000;
    font-weight: 400;
  }

}