doctype html
html(lang="en")
  head
    block title
      title= "Top Moto"
    meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    meta(name="mobile-web-app-capable" content="yes")
    meta(name="description" content="This was supposed to be a page about farming then became a personal web page")
    //link(crossorigin='anonymous' href='/css/app.css' media='all' rel='stylesheet')
    link(href='/css/app.css' media='all' rel='stylesheet')
    script(type='text/javascript', src='js')
  body

    include partials/menu.pug

    div(class="page-container")
      block navigation
        +menu()

      div(class="content-container")
        block content
